@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-size: cover;
        background-image: url('./img/home-background.jpg');
    }
</style>
<div class="text-center">
    <br />
    <br />
    <h1 class="display-4 mt-5 text-white fw-bolder">Movies, TV shows, and more</h1>
    <p class="text-white fw-bolder">Watch anywhere. Cancel anytime.</p>
</div>
