@{
    ViewData["Title"] = "Browse Movies";
}

<div class="row">
    <h1 class="mt-3 text-white">TOP MOVIES</h1>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img1.jpg">
                <img src="~/img/img1.jpg" alt="Damsel">
            </a>
            <div class="desc text-white">2024 . Action . Adventure</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img2.jpg">
                <img src="~/img/img2.jpg" alt="Godzilla Vs Kung The New Empire">
            </a>
            <div class="desc text-white">2024 . Action . Fantasy</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img3.jpg">
                <img src="~/img/img3.jpg" alt="The Beekeeper">
            </a>
            <div class="desc text-white">2024 . Action . Suspense</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img4.jpg">
                <img src="~/img/img4.jpg" alt="Kung Fu Panda 4">
            </a>
            <div class="desc text-white">2024 . Animation</div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="row mb-5">
    <h1 class="mt-3 text-white">BLOCKBUSTER</h1>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img5.jpg">
                <img src="~/img/img5.jpg" alt="Top Gun: Maverick">
            </a>
            <div class="desc text-white">2022 . Action . Adventure</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img6.jpg">
                <img src="~/img/img6.jpg" alt="Olympus Has Fallen">
            </a>
            <div class="desc text-white">2013 . Action . Thriller</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img7.jpg">
                <img src="~/img/img7.jpg" alt="John Wick">
            </a>
            <div class="desc text-white">2014 . Action . Thriller</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/img/img8.jpg">
                <img src="~/img/img8.jpg" alt="Transformers">
            </a>
            <div class="desc text-white">2007 . Action . Sci-Fi</div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
